* {
    margin: 0;
    padding: 0;
}

.header_style {
    width: 100%;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.header_h1:hover {
    background-position: right bottom;
}
.header_h1:after {
    width: 100%;
}

.header_h1 {
    width: 300px;
    margin: auto;
    margin-bottom: 40px;
    background: linear-gradient(to right, rgb(248, 153, 153) 50%, rgb(247, 234, 139) 50%);
    background-size: 200%;
    background-position: left bottom;
    border-radius: 5px;
    transition: all 1s ease;
    height: 3px;
}

.table_content {
    margin: auto;
    width: 900px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin: 20px;
    padding: 20px;
    width: 300px;
    min-height: 200px;
    border-radius: 10px;
    box-shadow: 3px 5px 6px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}

.card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.card-1 {
    background: radial-gradient(#71ebf7, #73cbfb);
}

.card-2 {
    background: radial-gradient(#fbc1cc, #f9adc0);
}

.card-3 {
    background: radial-gradient(#76b2fe, #b69efe);
}

.register_image {
    width: 250px;
}

.form_fields {
    width: 900px;
    margin: auto;
}

.inputfield {
    width: 230px;
    padding: 5px;
    border: 0.5px solid black;
}

.form_fields tr td {
    width: 40px;
    height: 40px;
}

.dropdown {
    width: 240px;
    padding: 5px;
    text-align: center;
}

.submit_btn {
    padding: 4px 15px;
}

ul {
    list-style-type: none;
}

li {
    padding-top: 10px;
}

.footer {
    margin-top: 10px;
    height: 35px;
    background-color: lightgray;
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 1600px) {
    .cards {
        justify-content: center;
    }
}